<div class="background">
    <div class="screen">
        <section class="sys-bar">
            <span class="system-text">
                {{time | date : "HH:mm"}}
            </span>
            <span class="icons">
                <span class="material-symbols-outlined">
                    signal_cellular_alt
                </span>
                <span class="material-symbols-outlined">
                    wifi
                </span>
                <span class="material-symbols-outlined">
                    battery_full_alt
                </span>
            </span>
        </section>
        <router-outlet></router-outlet>
    </div>
</div>