.screen {
    aspect-ratio: 9 / 19.5;
    height: 90%;
    margin: auto;
    margin-top: 2%;
    border-radius: 3.5rem;
    background-color: white;
    border: .5rem black solid;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    padding: 0;
    overflow: hidden;
}

.background {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: darkgrey;
    margin-top: 0;
    padding: 0;
}

.system-text {
    font-weight: bold;
}

.sys-bar {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
    margin-left: 2rem;
    margin-right: 2rem;
}

.icons>span {
    font-size: larger;
    font-weight: bolder;
    padding-left: .2em;
}