<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Dungeon Texter</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/">Play</a>
      <a mat-list-item routerLink="/editor">Create</a>
      <!-- <a mat-list-item href="#">Link 3</a> -->
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet/>
    <!-- <app-phone-screen></app-phone-screen> -->
  </mat-sidenav-content>
</mat-sidenav-container>
