<div class="header frosted-glass d-flex justify-content-center">
    <h3 class="fw-bold contact">Contact</h3>
</div>
<div class="scroll container reverse">
    <div>
        @for (message of messages; track message.id) {
            <div @arrivingMessages class="d-flex {{messageJustify(message.sender)}}">
                <div class="message {{messageStyle(message.id)}}">{{ message.body }}</div>
            </div>
        }
        @if (responseBoxVisible) {
            <div class="padding"></div>
        }
    </div>
</div>
<div class="inside"></div>
@if (responseBoxVisible) {
    <div @changeResponseBoxVisibility class="response-box bottom w-100 s">
        <mat-grid-list cols="1" rowHeight="5:1">
            @for (response of responses; track response.id) {
                <mat-grid-tile>
                    <button (click)="respond(response.id)" class="response-button w-90" mat-fab extended>{{response.text}}</button>
                </mat-grid-tile>
            }
        </mat-grid-list>
    </div>
}
<!-- <div class="bottom" style="display: flex; justify-content: center;">
    <div>
        <svg>
            <rect width="150" height="2" x="10" y="10" rx="2" ry="2" style="fill:black;stroke:black;stroke-width:2;" />
              Sorry, your browser does not support inline SVG.
        </svg>
    </div>
</div> -->