<div class="">
    <div class="header d-flex justify-content-center">
        <span class="fw-bold contact">Contact</span>
    </div>
</div>
<div class="scroll container reverse">
    <div>
        <div class="padding-top"></div>
        @for (message of messages; track $index) {
            <div @arrivingMessages class="d-flex {{messageJustify(message.sender)}}">
                <div class="message {{messageStyle(message.id, $index)}}">{{ message.body }}</div>
            </div>
        }
        <div class="padding-bottom"></div>
        @if (responseBoxVisible) {
            <div class="padding"></div>
        }
    </div>
</div>
<div class="inside"></div>
@if (responseBoxVisible) {
    <div @changeResponseBoxVisibility class="response-box bottom w-100 s">
        <mat-accordion>
            @for (response of responses; track response.id) {
                    <button (click)="respond(response.id)" class="response-button w-90" mat-fab extended>{{response.text}}</button>
            }
        </mat-accordion>
    </div>
}
<!-- <div class="bottom" style="display: flex; justify-content: center;">
    <div>
        <svg>
            <rect width="150" height="2" x="10" y="10" rx="2" ry="2" style="fill:black;stroke:black;stroke-width:2;" />
              Sorry, your browser does not support inline SVG.
        </svg>
    </div>
</div> --> 