.main {
    width: auto;
    height: 100%;
    background: #eee;
}

.title {
    padding-left: .5rem;
}

.heading {
    font-size: 1.5rem;
    margin: 0;
    padding: 0;
    padding-left: .5rem;
}

.container {
    padding-top: 0;
    margin-top: 0;
}

.form {
    background-color: white;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    padding: 2rem;
}

.row-button {
    margin: .3rem;
}

.btn-text {
    margin-top: -.5rem;
}

.btn-symbol {
    padding-top: .3rem;
}