<mat-drawer-container class="main">
    <mat-drawer mode="side" position="end" [opened]="isDrawerOpen">
        <mat-toolbar>
            <button (click)="isDrawerOpen = false" mat-icon-button>
                <span class="material-symbols-outlined">
                    close
                </span>
            </button>
            <span class="title">Overview</span>
        </mat-toolbar>
        <div class="container">
            <h2 class="heading">Graph</h2>
            <list-view [visualNodes]="visualNodes" [visualEdges]="visualEdges"></list-view>
        </div>
    </mat-drawer>
    <mat-drawer-content>
        <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="center" class="h-100"
            (selectedTabChange)="onSelectedTabChange($event)">
            <mat-tab label="Write" bodyClass="w-100 h-100 height">
                <message-list-view [(choiceForm)]="choiceForm" (pathChange)="onPathChange($event)"
                    [(messages)]="messagePath" (openNewLoopDialogEvent)="openDialog($event)"
                    (deleteMessageEvent)="deleteMessage($event)" class="reverse"></message-list-view>
                <div class="bottom d-flex justify-content-center">
                    <div>
                        <button class="row-button" mat-raised-button>
                            <mat-icon>
                                person_add
                            </mat-icon>
                            New Contact
                        </button>
                        <button (click)="openDialog()" class="row-button" mat-raised-button>
                            <mat-icon>
                                link
                            </mat-icon>
                            Link Back
                        </button>
                        <div class="form shadow">
                            <message-form (messageChange)="addMessage($event)"
                                (newResponseOption)="addOption($event)"></message-form>
                        </div>
                    </div>
                </div>
            </mat-tab>
            <mat-tab label="Graph">
                <graph-visual class="height" [visualNodes]="visualNodes" [visualEdges]="visualEdges"></graph-visual>
            </mat-tab>
            <mat-tab label="Preview">
                <phone-screen>
                    <messages [messageTree]="messageTree"></messages>
                </phone-screen>
            </mat-tab>
        </mat-tab-group>
    </mat-drawer-content>
</mat-drawer-container>