.message-card {
    margin: auto;
    margin-bottom: 1rem;
    max-width: 80%;
    transition: all .5s;
}

.option-card {
    margin-bottom: 1rem;
    margin-left: .5rem;
    margin-right: .5rem;
    min-width: 9rem;
    transition: all .5s;
}

.card-footer {
    padding: 1rem;
}

.padding {
    height: 35vh;
}

.card-list {
    margin-top: 1rem;
}

.card-text {
    text-align: center;
}

.selected {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

.reverse {
    overflow: auto;
    display: flex;
    flex-direction: column-reverse;
    scroll-behavior: smooth;
    height: 100%;
}

.branch {
    position: absolute;
    top: 0;
    border-left: 1px black solid;
    height: 100%;
    z-index: -1;
}

.options-container {
    background: linear-gradient(0deg, rgba(#eee, 0) 0%, #eee 20%, #eee 80%, rgba(#eee, 0) 100%);
    padding-top: 4rem;
    padding-bottom: 4rem;
    margin-top: -2rem;
    margin-bottom: -2rem;
}

.btn-more {
    margin-top: -.5rem;
    margin-right: -.5rem;
}

.circle {
    height: 1rem;
    width: 1rem;
    border-radius: .5rem;
    margin-right: .2rem;
    margin-top: .1rem;
}

.not-found-container {
    margin-bottom: 20%;
    text-align: center;
}