<div class="reverse">
    <div class="d-flex justify-content-center">
        <div class="branch"></div>
    </div>
    <div class="card-list ">
        <form [formGroup]="choiceForm">
            <div formArrayName="choices">
                <mat-accordion>
                    @for ( message of messages; track $index) {
                    <div @arrivingMessages>
                        <mat-card [id]="message.id" class="arrive message-card" appearance="outlined">
                            <mat-card-header class="d-flex justify-content-between">
                                <mat-card-subtitle>{{message.sender}}</mat-card-subtitle>
                                <button mat-icon-button class="btn-more" [matMenuTriggerFor]="cardMoreMenu">
                                    <mat-icon>more_vert</mat-icon>
                                </button>
                                <mat-menu #cardMoreMenu="matMenu">
                                    <button mat-menu-item [matMenuTriggerFor]="flags">
                                        <mat-icon>flag</mat-icon>
                                        <span>Flag</span>
                                    </button>
                                    <button mat-menu-item (click)="openDialog(message)">
                                        <mat-icon>loop</mat-icon>
                                        <span>Loop to</span>
                                    </button>
                                </mat-menu>
                                <mat-menu #flags="matMenu">
                                    @for (color of colors; track $index) {
                                    <button mat-menu-item (click)="onFlag(message.id, color)">
                                        <span>{{color}}</span>
                                    </button>
                                    }
                                </mat-menu>
                            </mat-card-header>
                            <mat-card-content>
                                <p>{{message.body}}</p>
                            </mat-card-content>
                            <mat-card-footer class="card-footer">
                                <mat-chip-set in>
                                    <mat-chip>{{message.id}}</mat-chip>
                                    @if (message.wait > 0) {
                                    <mat-chip>{{message.wait}} ms</mat-chip>
                                    }
                                    @if (message.isLoop) {
                                    <mat-chip routerLink="./" [fragment]="message.next">
                                        Link to {{message.next}}
                                    </mat-chip>
                                    }
                                    @if (message.knowledge != undefined) {
                                    <mat-chip>{{message.knowledge}}</mat-chip>
                                    }
                                    @for (flag of message.flags; track $index) {
                                    <mat-chip class="flag-chip">
                                        <div class="d-flex justify-content-center">
                                            <div class="circle" [style.backgroundColor]="flag"></div>
                                            <div>{{flag}}</div>
                                        </div>
                                    </mat-chip>
                                    }
                                </mat-chip-set>
                            </mat-card-footer>

                        </mat-card>
                    </div>
                    @if (message.showOptions) {
                    <mat-radio-group (change)="onChange()" [formControlName]="getRadioIndex($index)">
                        <div class="d-flex justify-content-center options-container">
                            @for (option of message.responseOptions; track option.id) {
                            <div @arrivingMessages>
                                <mat-card [id]="option.id"
                                    class="option-card arrive {{choiceForm.value.choices?.includes(option.id) ? 'selected' : ''}}"
                                    appearance="outlined">
                                    <mat-card-header class="d-flex justify-content-center">
                                        <mat-radio-button [value]="option.id"></mat-radio-button>
                                    </mat-card-header>
                                    <mat-card-content>
                                        <p class="card-text">{{option.text}}</p>
                                    </mat-card-content>
                                    <mat-card-footer class="card-footer">
                                        <mat-chip-set>
                                            @if (option.requiredKnowledge != undefined) {
                                            <mat-chip>{{option.requiredKnowledge}}</mat-chip>
                                            }
                                            @if (option.isLoop) {
                                            <mat-chip routerLink="./" [fragment]="option.next">
                                                Loops to {{option.next}}
                                            </mat-chip>
                                            }
                                        </mat-chip-set>
                                    </mat-card-footer>
                                </mat-card>
                            </div>
                            }
                        </div>
                    </mat-radio-group>
                    }
                    }
                </mat-accordion>
            </div>
        </form>
        <div class="padding"></div>
    </div>
</div>