<div class="bg-image"></div>
<div class="frosted-glass h-100 w-100 absolute"></div>
<div class="h-100 w-100 absolute">
  <div class="d-flex justify-content-center">
    <mat-accordion class="content text-center">
      <div>
        <h1>
          <span class="font-display dungeon-text">Dungeon</span><br>
          <span class="text-message">Texter</span>
          <span class="material-symbols-outlined text-check">
            Check
          </span>
        </h1>
        <div>
          <span>
            <i>
              Create and share branching text-based stories
            </i>
          </span>
        </div>
      </div>
      <div>
        <button mat-fab extended class="btn-action" routerLink="/play">
          Play Demo
        </button>
      </div>
      <div>
        <button mat-fab extended class="btn-action" routerLink="/editor">
          Start Creating
        </button>
      </div>
    </mat-accordion>
  </div>
  <div class="bg absolute h-100 w-100"></div>
</div>
